body {
  background-color: var(--secondary-blue);
}

main {
  max-width: 1120px;
  margin: auto;
}

h1 {
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: var(--size-h1);
  text-transform: uppercase;
  color: var(--primary-dark);
  margin-bottom: 3rem;
}

h2,
h3 {
  font-family: "archivo-variable", sans-serif;
  font-variation-settings: "wght" 600, "wdth" 110;
  text-transform: uppercase;
  color: var(--primary-dark);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--size-h2);
}

h3 {
  font-size: var(--size-h3);
}

p {
  font-family: "archivo-variable", sans-serif;
  font-variation-settings: "wght" 500, "wdth" 80;
  font-size: var(--size-p);
  max-width: 75ch;
  color: var(--primary-dark);
}

p:not(:last-child) {
  margin-bottom: 1.5rem;
}
