:root {
  /* COLORS | BRAND */
  --primary-dark: #273aaa;
  --primary-light: #f7c7d9;

  /* COLORS | ACCENT */
  --secondary-pink: #fc4d5c;
  --secondary-blue: #d1ecef;

  /* COLORS | NEURTAL */
  --bg-color: #fff5eb;
  --text-color: #1d1d1b;

  /* TEXT | SIZING */
  --size-h1: 1.5rem;
  --size-h2: 1.15rem;
  --size-h3: 1.75rem;
  --size-p: 1rem;
}

@media (min-width: 650px) {
  :root {
    /* TEXT | SIZING */
    --size-h1: 2rem;
    --size-h2: 1.25rem;
    --size-h3: 1.75rem;
    --size-p: 1.15rem;
  }
}

@media (min-width: 1000px) {
  :root {
    /* TEXT | SIZING */
    --size-h1: 3rem;
    --size-h2: 2rem;
    --size-h3: 2.5rem;
    --size-p: 1.25rem;
  }
}
