---

---

<div class="container">
    <h1>Sisterhood: Tre Pigers Rejse Mod Selvværd og Styrke</h1>
    <img src="/svg/hero.svg" alt="Illustration of a girl with flowing long hair">
</div>

<style>

    .container {
        grid-column: 2;
        height: 600px;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    h1 {
        max-width: 800px;
    }

    img {
        position: absolute;
        top: 3.5rem;
        left: -40rem;
        width: 2070px;
    }

</style>

