---

import TextBox from "./TextBox.astro"

const girls = [
    {
        name: "Lara",
        age: "19",
        town: "Aalborg",
        quotes: [
    "“Jeg har altid haft svært ved at se mig selv i spejlet og føle mig tilfreds med det billede, der mødte mig.”",
    "“At acceptere mig selv har været en konstant kamp, hvor jeg altid følte mig som min egen værste kritiker.”",
    "“Gennem Sisterhood lærte jeg gradvist at omfavne min krop, selvom jeg tidligere kun havde set fejl.”",
    "“Sisterhood gav mig et rum, hvor jeg kunne være sårbar uden at føle mig svag.”",
    "“At være en del af Sisterhood har givet mig en masse styrke og følelsen af empowerment.”"
        ]
    },
    {
        name: "Jasmin",
        age: "16",
        town: "Odense",
        quotes: [
    "“Jeg følte mig konstant utilstrækkelig og sammenlignede mig selv med andre piger.”",
    "“Jeg husker tydeligt den første gang, jeg delte mine tanker i gruppen. Jeg følte mig endelig set og hørt.”",
    "“Før Sisterhood følte jeg mig som den stille pige i baggrunden, men nu tør jeg godt åbne op.”",
    "“Jeg har lært, at det er okay at være sårbar og vise sine følelser. Det har været en befrielse.”",
    "“I Sisterhood hepper vi altid på hinanden. Det har inspireret mig til at være mere modig.”"
        ]
    },
    {
        name: "Sarah",
        age: "21",
        town: "Gistrup",
        quotes: [
    "“Jeg var omgivet af folk, men alligevel følte jeg mig alene. Det var som om, ingen rigtig forstod mig.”",
    "“Jeg plejede at gemme mig bag en facade, fordi jeg troede, at ingen ville forstå mig alligevel.”",
    "“Det har været en lang rejse at komme fra at føle sig isoleret til at føle sig elsket og accepteret af et fællesskab.”",
    "“Nu tror jeg på min egen værdi, og jeg er ikke længere bange for at være den, jeg er.”",
    "“Sisterhood har lært mig, at ægte styrke kommer fra at turde vise sin sårbarhed og søge støtte hos andre.”"
        ]
    }
]

---

<h1>Mød Lara, Jasmin og Sarah</h1>

{girls.map(girl=>{
    return <TextBox girl={girl} />
})}

<style>

</style>