---

const { question, answer } = Astro.props

---

<li>
    <h4>{question} <img src="/svg/star.svg" alt=""></h4>
    <div class="content">
        <p>{answer}</p>
    </div>    
</li>

<style>

    h4, p {
        border-bottom: 1px solid var(--primary-dark);
    }

    h4 {
        font-size: 1.25rem;
        font-family: "archivo-variable", sans-serif;
        font-variation-settings: "wght" 600, "wdth" 110;
        color: var(--primary-dark);
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        padding: 1.5rem 0;        
        cursor: pointer;
        z-index: 20;
    }

    .content {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    .content.active {
        max-height: 300px;
        opacity: 1;
    }

    p {
        font-size: 1.25rem;
        padding: 2rem 0;
    }    

    img {
        width: 20px;
    }

    @media (min-width: 650px) {
        h4 {
            font-size: 1.5rem;
        }
    }

    @media (min-width: 1000px) {

        h4 {
        font-size: 2rem;
    }
        
        p {
        font-size: 2rem;
        padding: 2.25rem 0;
    }

    img {
        width: 40px;
    }

    }

</style>

<script>

    const question = document.querySelectorAll("h4");

    question.forEach(element => {
        element.addEventListener("click", function() {
            this.parentNode.querySelector(".content").classList.toggle("active");
        })
    })

</script>